OPENAI_API_KEY=sk-or-v1-**
OPENAI_BASE_URL=https://openrouter.ai/api/v1
OPENAI_MODEL=google/gemini-3.1-pro-preview

ANTHROPIC_API_KEY=sk-ant-xxx
ANTHROPIC_MODEL=claude-sonnet-4-20250514

CUSTOM_API_KEY=sk-or-v1-**
CUSTOM_BASE_URL=https://openrouter.ai/api/v1
CUSTOM_MODEL=google/gemini-3.1-pro-preview

WORKSPACE_ROOT=../workspace

